a
   {
color: red; text-decoration:none;
}
h1
{
font-family: Arial;
color : midnightblue;
}
 body{
        background-color:aquamarine;
    }
 div{
     width: 1200px;
     margin: auto;
 }